.App {
  height:100vh;
  width:100vw;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "graph graph graph settings"
    "graph graph graph settings"
    "graph graph graph settings"; 
}
.graph {
  grid-area:graph;
}


.settings {
  grid-area:settings;
  background-color: rgb(241, 241, 241);
}



